<h3> Welcome visitor </h3>

<p>SDM CONTROL MANAGEMENT V1.0 </p>


<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#teste"> Teste 1</a>
    <div id="teste" class="content">

    Teste teste tslka;lks;lfk as;ldfka;lskdf a;slkf;laskf;kas
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#teste2"> Teste 2</a>
    <div id="teste2" class="content">

    Teste teste tslka;lks;lfk as;ldfka;lskdf a;slkf;laskf;kas
    </div>
  </li>
</ul>


