<% content_for :title do %> About <%end%>
<h2>Sobre - SDM Control</h2>
<p>Versão 1.0</p>
<ul>
<li>Login Usuário</li>
<li>Cadastro Sistema. </li>
<li>Cadastro Release.</li>
<li>Cadastro Categoria.</li>
</ul>

