<div class="page-header">
  <h1>Sistema <small>- Lista</small></h1>
</div>

<table id="systems" class="display table table-striped"
      cellspacing="0" width="100%" data-source="<%= systems_url(format: :json)%>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Responsavel</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Novo Sistema', new_system_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
