<p>
  <strong>Nome:</strong>
  <%= @system.nome %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @system.responsavel %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
