<h1>Categorias</h1>

<table id="categories" class="display table table-striped"
      cellspacing="0" width="100%" data-source="<%= categories_url(format: :json)%>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Sistema</th>
      <th>Descricao</th>
      <th>Ativo</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<div align="center">
<%= button_to('Nova Categoria', new_category_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
