<div class="page-header">
<h1>Release <small>- Lista</small></h1>
</div>
<table class="display table table-striped" id="tbReleases" data-source="<%= releases_url(format: :json) %>">
  <thead>
    <tr>
    <th>Sistema</th>
      <th>Versão</th>
      <th>Data Implantação</th>
      <th>Ações</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>
<div align="center">
<%= button_to('Novo Release', new_release_path, :method => :get, :class => 'btn btn-primary')  %>
</div>
