



<%if user_signed_in? %>
<li class="has-dropdown">
        <a href="#">Bem Vindo, <%= current_user.email%></a>
        <ul class="dropdown">
          <li><a href="#">Editar Configurações</a></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
<%else%>
<li><%= link_to 'Login', new_user_session_path %></li>
<%end%>

