<%# navigation styled for Zurb Foundation 5 %>



<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Sdm-Control", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
     <%= render 'layouts/navigation_left_links' %>
    </ul>

    <ul class="right">
       <%= render 'layouts/navigation_rigth_links' %>
    </ul>
  </div>
</nav>



